@model IEnumerable<Models.Framework.Danh_gia_album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Album comments</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
            <li class="breadcrumb-item active">Album comments</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Album comments
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Album title</th>
                            <th>Username</th>
                            <th>Comment</th>
                            <th>Comment date</th>
                            <th data-sortable="false"></th>
                            <th data-sortable="false"></th>
                            <th data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Album title</th>
                            <th>Username</th>
                            <th>Comment</th>
                            <th>Comment date</th>
                            <th data-sortable="false"></th>
                            <th data-sortable="false"></th>
                            <th data-sortable="false"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Album.tieu_de_album)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nguoi_dung.ten_nguoi_dung)</td>
                                <td>@Html.DisplayFor(modelItem => item.binh_luan)</td>
                                <td>@Html.DisplayFor(modelItem => item.ngay_binh_luan)</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.id_danh_gia })" class="edit-link">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", new { id = item.id_danh_gia })" class="edit-link">
                                        <i class="fa fa-circle-info"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete", new { id = item.id_danh_gia })" class="edit-link">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <a href="@Url.Action("Create", "Danh_gia_album")" class="edit-link" style="text-decoration: none;">
            <i class="fa fa-circle-plus"></i> Create new comment
        </a>
    </div>
</main>