<<<<<<< HEAD
=======
@model IEnumerable<Models.Framework.Album>
>>>>>>> 850bf8397263b2c5f80af6f77015b321ff303f60

@{
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/shop/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/shop/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/shop/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/shop/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/assets/shop/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/assets/shop/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/assets/shop/css/aos.css">
    <link rel="stylesheet" href="/assets/shop/css/style.css">

    <title>Fotos Shop</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

    <div class="lines-wrap">
        <div class="lines-inner">
            <div class="lines"></div>
        </div>
    </div>
    <!-- END lines -->

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav dark mb-5 site-navbar-target">
        <div class="container">
            <div class="site-navigation">
<<<<<<< HEAD
                <a href="index.html" class="logo m-0">Fotos Shop<span class="text-primary">.</span></a>
=======
                <a href="@Url.Action("Index", "Home")" class="logo m-0">Fotos<span class="text-primary">.</span></a>
>>>>>>> 850bf8397263b2c5f80af6f77015b321ff303f60

                <ul class="js-clone-nav d-none d-lg-inline-none site-menu float-right site-nav-wrap">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Explore", "Index", "Explore")</li>
                    <li>@Html.ActionLink("Sign in", "Index", "SignIn")</li>

                </ul>

                <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-inline-block" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </div>
    </nav>



    <div class="untree_co-section pb-0" id="home-section">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-7">
                    <h1 class="heading gsap-reveal-hero mb-3"><strong>Fotos<span class="text-primary">.</span> Shop</strong></h1>
                    <h2 class="subheading gsap-reveal-hero mb-4">
                        Lorem ipsum
                    </h2>
                    @*<p class="gsap-reveal-hero"><a href="https://untree.co/" target="_blank" class="btn btn-outline-black">More free templates here</a></p>*@
                </div>
            </div>

        </div>
    </div>


    <div class="untree_co-section untree_co-section-4 pb-0" id="portfolio-section">
        <div class="container">


            <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
            <div id="portfolio-single-holder"></div>

            <div class="portfolio-wrapper">
<<<<<<< HEAD
                @*@Html.ActionLink("Click me ", "Index", "ShopItem")*@
                <div id="posts" class="row">

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
=======
                <div id="posts" class="row">

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        @{
                            var name = Model.ElementAt(0).tieu_de_album;
                            var des = Model.ElementAt(0).mo_ta_album;
                        }
                        <a href="@Url.Action("Index", "ShopItem", new { productName = name, description = des })" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
>>>>>>> 850bf8397263b2c5f80af6f77015b321ff303f60
                            <div class="overlay">

                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>White book</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_1.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-2.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="2">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Book Binding</h3>
                                    <p>illustration, application</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_2.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Fresh Fruits</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_3.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Powerful Speaker</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_4.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Wireless Headset</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_5.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>


                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-1.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="1">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Black & White Cubic</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_6.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-2.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="2">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Nike Shoe</h3>
                                    <p>illustration, application</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_7.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Old Typewriter</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_8.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Walking Man</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_9.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Progress Journal</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_10.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>The Dog</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_11.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Beautiful Woman</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_12.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>

                    <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                        <a href="portfolio-single-3.html" class="portfolio-item ajax-load-page isotope-item gsap-reveal-img" data-id="3">
                            <div class="overlay">
                                <span class="wrap-icon icon-link2"></span>
                                <div class="portfolio-item-content">
                                    <h3>Book Binding</h3>
                                    <p>web, branding</p>
                                </div>
                            </div>
                            <img src="/assets/shop/images/img_2.jpg" class="lazyload  img-fluid" alt="Images" />
                        </a>
                    </div>


                </div>
            </div>


            <!-- </div>
            </div> -->
        </div>
    </div>
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <script src="/assets/shop/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/shop/js/popper.min.js"></script>
    <script src="/assets/shop/js/bootstrap.min.js"></script>
    <script src="/assets/shop/js/owl.carousel.min.js"></script>
    <script src="/assets/shop/js/jquery.animateNumber.min.js"></script>
    <script src="/assets/shop/js/jquery.waypoints.min.js"></script>
    <script src="/assets/shop/js/jquery.fancybox.min.js"></script>
    <script src="/assets/shop/js/aos.js"></script>
    <script src="/assets/shop/js/wave-animate.js"></script>
    <script src="/assets/shop/js/circle-progress.js"></script>
    <script src="/assets/shop/js/imagesloaded.pkgd.js"></script>
    <script src="/assets/shop/js/isotope.pkgd.min.js"></script>
    <script src="/assets/shop/js/jquery.easing.1.3.js"></script>
    <script src="/assets/shop/js/TweenMax.min.js"></script>
    <script src="/assets/shop/js/ScrollMagic.min.js"></script>
    <script src="/assets/shop/js/scrollmagic.animation.gsap.min.js"></script>


    <script src="/assets/shop/js/custom.js"></script>

</body>

</html>
