@model Models.Framework.Giao_dich

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<<<<<<< HEAD
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Giao_dich</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.tieu_de_album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.tieu_de_album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nguoi_dung.ten_nguoi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoi_dung.ten_nguoi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nguoi_dung1.ten_nguoi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoi_dung1.ten_nguoi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia_tien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_tien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_giao_dich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_giao_dich)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
=======
<main>
    <div class="container-fluid px-4">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Transaction</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Title
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.Album.tieu_de_album)
                </dd>

                <dt>
                    Seller
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.Nguoi_dung.ten_nguoi_dung)
                </dd>

                <dt>
                    Customer
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.Nguoi_dung1.ten_nguoi_dung)
                </dd>

                <dt>
                    Price
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.gia_tien)
                </dd>

                <dt>
                    Transaction date
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.ngay_giao_dich)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-group mt-4">
            <div class="row">
                <div class="col-md-6">
                    <a href="@Url.Action("Index", "Giao_dich")" class="edit-link mt-4" style="text-decoration: none;">
                        <i class="fa-solid fa-chevron-left"></i> Back to List
                    </a>
                </div>
                <div class="col-md-6 text-right">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        </div>
            }
        </div>

    </div>
</main>

>>>>>>> 850bf8397263b2c5f80af6f77015b321ff303f60
