@model Models.Framework.Giao_dich

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h2>Details</h2>

        <div>
            <h4>Transaction</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Title
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.Album.tieu_de_album)
                </dd>

                <dt>
                    Seller
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.Nguoi_dung.ten_nguoi_dung)
                </dd>

                <dt>
                    Customer
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.Nguoi_dung1.ten_nguoi_dung)
                </dd>

                <dt>
                    Price
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.gia_tien)
                </dd>

                <dt>
                    Transaction date
                </dt>

                <dd class="border border-primary p-2 rounded">
                    @Html.DisplayFor(model => model.ngay_giao_dich)
                </dd>

            </dl>
        </div>
        <p>
            <a href="@Url.Action("Index", "Nguoi_dung")" class="edit-link mt-4" style="text-decoration: none;">
                <i class="fa-solid fa-chevron-left"></i> Back to List
            </a>|
            @Html.ActionLink("Edit", "Edit", new { id = Model.id_giao_dich }, new { style = "text-decoration: none;" })
        </p>

    </div>
</main>

