@model Models.Framework.Anh_yeu_thich

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Anh_yeu_thich</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nguoi_dung.ten_nguoi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoi_dung.ten_nguoi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.tieu_de_anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.tieu_de_anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_yeu_thich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_yeu_thich)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_anh_yeu_thich }) |
    @Html.ActionLink("Back to List", "Index")
</p>
