@model IEnumerable<Models.Framework.Photo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Album.tieu_de_album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoi_dung.ten_nguoi_dung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tieu_de_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mo_ta_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url_anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_tai_anh_len)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_luot_danh_gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_luot_thich)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Album.tieu_de_album)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoi_dung.ten_nguoi_dung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tieu_de_anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mo_ta_anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url_anh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_tai_anh_len)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_luot_danh_gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_luot_thich)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_photo }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_photo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_photo })
        </td>
    </tr>
}

</table>
