@model Models.Framework.Danh_gia_anh

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<<<<<<< HEAD
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Danh_gia_anh</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_nguoi_dung, "id_nguoi_dung", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_nguoi_dung", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_nguoi_dung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_anh, "id_anh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_anh", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_anh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.binh_luan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.binh_luan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.binh_luan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngay_binh_luan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngay_binh_luan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngay_binh_luan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
=======
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <main>
        <div class="container-fluid px-4">
            <h2>Create</h2>
            <div class="form-horizontal">
                <h4>Photo comment</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.id_nguoi_dung, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("id_nguoi_dung", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_nguoi_dung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.id_anh, "Photo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("id_anh", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_anh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.binh_luan, "Comment", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.binh_luan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.binh_luan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ngay_binh_luan, "Comment date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ngay_binh_luan, new { htmlAttributes = new { @class = "form-control", placeholder = "Month/Day/Year" } })
                        @Html.ValidationMessageFor(model => model.ngay_binh_luan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="@Url.Action("Index", "Danh_gia_anh")" class="edit-link mt-4" style="text-decoration: none;">
                                <i class="fa-solid fa-chevron-left"></i> Back to List
                            </a>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="submit" value="Create" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    
}

>>>>>>> 850bf8397263b2c5f80af6f77015b321ff303f60
