@model Models.Framework.Danh_gia_anh

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Danh_gia_anh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nguoi_dung.ten_nguoi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nguoi_dung.ten_nguoi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo.tieu_de_anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo.tieu_de_anh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.binh_luan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.binh_luan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_binh_luan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_binh_luan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_danh_gia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
